
html {

  background: #f7f7f7;

}

@media only screen and (min-width: 768px) {

  html {

/*    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

    background-position: 100% 3%;*/

  }

}

.center {

  position: relative;

  top: 20%;

  -webkit-transform: translateY(20%);

  -ms-transform: translateY(20%);

  transform: translateY(20%);

}

.container {
/*   width: 900px; */
  margin: -250px 0 0 -450px;
	position: absolute;
  top: 50%;
	left: 50%;
	height: 500px;
}

.phone-slider {

  /*background: url("../images/phone_bg.png") no-repeat;*/
  float: left;

}

.content {
  color: #363636;
  float: left;
  padding: 0 0 0 49px;


}

.content h1 {

  color: #363636;

  font-family: arial;

  text-transform: capitalize;

  font-size: 1.7em;

  -webkit-font-smoothing: antialiased;


}

.content p {

  font-family: arial;

  -webkit-font-smoothing: antialiased;
  font-size: 1.3rem;
  margin-top: 0;
	line-height: 1.5;
	font-style: italic;

}

.content li{
	font-size: 0.8rem;
	padding: 5px 0;
	width: 60%;
}

.content ul{
	padding-left: 16px;
}

.content input {

  background: transparent;

  border: 1px solid #c2c2c2;

  height: 30px;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  -ms-border-radius: 3px;

  -o-border-radius: 3px;

  border-radius: 3px;

  padding: 5px;

  outline: none;

  font-size: 0.9em;

  color: #222;

  font-family: arial;

  -webkit-font-smoothing: antialiased;

	width: 350px;

}

.content button {

  background: #F44336;

  border: 1px solid #F44336;

  height: 42px;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  -ms-border-radius: 3px;

  -o-border-radius: 3px;

  border-radius: 3px;

  font-size: 0.9rem;

  color: #fff;

  padding: 0 10px;

  font-family: arial;

  -webkit-font-smoothing: antialiased;

  margin-left: 9px;

}

.content .info {

  font-family: arial;

  font-size: 1.1em;

  padding-bottom: 30px;

}

.spread_the_word {

  top: 10px;

  position: relative;

}

.spread_the_word p {

  font-size: 0.9em;

}

.spread_the_word a {

  text-decoration: none;

  color: #363636;

  font-size: 2rem;

  margin: 0 6px 0 0;

  position: relative;

  top: 9px;

}

: : -webkit-input-placeholder {

  color: white;

  font-family: arial;

  -webkit-font-smoothing: antialiased;

}

: -moz-placeholder {

  /* Firefox 18- */

  color: white;

  font-family: arial;

  -webkit-font-smoothing: antialiased;

}

: : -moz-placeholder {

  /* Firefox 19+ */

  color: white;

  font-family: arial;

  -webkit-font-smoothing: antialiased;

}

: -ms-input-placeholder {

  color: white;

  font-family: arial;

  -webkit-font-smoothing: antialiased;

}

.marvel-device.iphone6plus {

  height: 380px;

  width: 214px;

}

.marvel-device.iphone6plus .sensor {

  left: 71px;

}

.count_down {

  padding-top: 50%;

  font-family: arial

}

.js-error {

  border: 2px solid red!important;

}

button {

  outline: none;

  cursor: pointer;

}

.notify {

  background: transparent;

  color: green;

  padding: 10px;

  font-family: arial;

  font-style: normal;

}

.phone-slider {

  display: none;

}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {

  .phone-slider {

    display: block;

  }

}

@media only screen and (max-width: 1024px) {

    html{
        background-image: none!important;
    }

  .container {

    width: 100%;

    position: relative;

    padding: 10px;

    margin: 0;

    left: 0;

    top: 0;

    height: auto;

  }

  .spread_the_word{
    display: none;
  }

  h1 {

    font-size: 2.4em!important;

  }

  .content {

    width: 100%;

    padding: 0;

  }

  .content p {

    width: 100%!important;
    line-height: 1.5;

  }

  textarea, input[type="text"],
input[type="email"] {
-webkit-appearance: none;
}

  .content .info {

    width: 85%;

  }

  .content button {

    margin-top: 10px;
    width: 90%;
    margin-left: 0;

  }

  .content input {

    width: 93%;

  }

  .content li{
    width: 100%;
  }

}

.form{
  display: block;
}

}

.marvel-device.iphone6plus .sensor {

  left: 71px;

}

.count_down {

  padding-top: 50%;

  font-family: arial

}

.js-error {

  border: 2px solid red!important;

}

button {

  outline: none;

  cursor: pointer;

}

.notify {

  background: transparent;

  color: green;

  padding: 10px;

  font-family: arial;

  font-style: normal;

}

.phone-slider {

  display: none;

}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {

  .phone-slider {

    display: block;

  }

}

@media only screen and (max-width: 1024px) {

  .container {

    width: 100%;

    position: relative;

    padding: 10px;

  }

  h1 {

    font-size: 2.4em!important;

  }

  .content {

    width: 100%;

    padding: 0;

  }

  .content p {

    width: 85%;

  }

  .content .info {

    width: 85%;

  }

  .content button {

    margin-top: 10px;

  }

  .content input {

    width: 90%;

  }

}

.form{
  display: block;
}

.copyright{
    position: fixed;
    bottom: 0;
    right: 50%;
    font-size: 10px;
    font-family: 'arial'
}

.error{
    color: red;
}

.confirm{
    color: green!important;
}
